data/raw/all_scraped
data/raw/combined_organizations.json
eda/uk_unique_org_embeddings.npy
data/raw/gtr_data.json
data/raw/cordis_data.json
data/raw/uk_data.json
data/ror/
eda/tmp/
llama-models/
.llama/
__pycache__
**/__pycache__/